<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
        <meta charset="UTF-8">
        <title>Home</title>	
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"></script>		
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/agenda_personal.css}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <style>
        </style>
    </head>

    <body>
        <!-- NAVBAR -->
		<header th:replace="~{base :: headerDashboard}"></header>
		<!-- FIM NAVBAR -->

		<main>
	
			<div class="sidePersonal" th:if="${#authorization.expression('hasAuthority(''PERSONAL'')')}" >
				<div th:replace="~{base :: sidePersonal}"></div>
			</div>
            
            <!-- Início Agenda -->
        	<div class="container mt-3">
            	<div class="row">
                
                <!-- INICIO MODAL DE AGENDAMENTO DO ALUNO -->
                <div class="modal fade" id="modalAgendamento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Novo horário</h4>                                
                            </div>
                            <div class="modal-body mx-3">
                                <form id="formAgendamento" class="form-control" name="formAgendamento"
                                    action="agenda_prof.html">
                                    <div class="border border-secondary-3 rounded mt-1">
                                        <div class="container">
                                            <div class="form-group m-3 conteudoModal">
                                                <label for="">
                                                    Insira o dia e horário disponível:
                                                </label>
                                                <!-- <button type="button" id="tooltips" class="btn btn-secondary invisible"
                                                    data-bs-toggle="tooltip" data-bs-placement="right"
                                                    title="Considerar a duração de 1 hora">
                                                    ?
                                                </button> -->
                                                <input type="datetime-local" name="Disponibilidade"
                                                    value="disponibilidade">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer d-flex justify-content-center form-group">
                                <a href="minha_conta.html">
                                    <button type="submit" class="btn btn-outline-success2">
                                        Agendar
                                    </button>
                                </a>
                                <button type="button" class="btn btn-outline-success8" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div> <!-- FIM MODAL-CONTENT-->
                    </div> <!-- FIM MODAL-DIALOG -->
                </div> <!-- FIM MODAL-FADE -->
                <!-- FINAL MODAL DE AGENDAMENTO DO ALUNO -->
            </div>

            <div class="row">
                <!-- INICIO HORÁRIOS DISPONÍVEIS -->
                <div class="container">
                    <div class="col-lg-11" id="Radios">
                        <div class=" border border-secondary-3 rounded bg-box">
                            <div class="form-check" id="labelRadios">
                                <div class=" d-flex justify-content-center">
                                    <h3 class="subtitulo2 mb-4">Horários Cadastrados</h3>
                                </div>
                            </div>

                            <ul class="list-group list-group-horizontal lista-agendamento mb-3">
                                <li class="list-group-item listagem-agendamento">
                                    <button type="button" class="btn btn-outline-success5 bt-tamanho p-0"
                                        aria-label="x">
                                        <span aria-hidden="true">x</span> <!-- BOTÃO DE FECHAR -->
                                    </button>
                                    13/04/2021 - 13:30
                                </li>
                                <li class="list-group-item listagem-agendamento">
                                    <button type="button" class="btn btn-outline-success5 bt-tamanho p-0"
                                        aria-label="x">
                                        <span aria-hidden="true">x</span> <!-- BOTÃO DE FECHAR -->
                                    </button>
                                    14/04/2021 - 15:30
                                </li>
                                <li class="list-group-item listagem-agendamento">
                                    <button type="button" class="btn btn-outline-success5 bt-tamanho p-0"
                                        aria-label="x">
                                        <span aria-hidden="true">x</span> <!-- BOTÃO DE FECHAR -->
                                    </button>
                                    15/04/2021 - 13:30
                                </li>
                                <li class="list-group-item listagem-agendamento">
                                    <button type="button" class="btn btn-outline-success5 bt-tamanho p-0"
                                        aria-label="x">
                                        <span aria-hidden="true">x</span> <!-- BOTÃO DE FECHAR -->
                                    </button>
                                    16/04/2021 - 13:30
                                </li>
                                <li class="list-group-item listagem-agendamento">
                                    <button type="button" class="btn btn-outline-success5 bt-tamanho p-0"
                                        aria-label="x">
                                        <span aria-hidden="true">x</span> <!-- BOTÃO DE FECHAR -->
                                    </button>
                                    15/04/2021 - 17:30
                                </li>

                            </ul>
                        </div>
                    </div> <!-- FINAL HORÁRIOS DISPONÍVEIS -->
                </div>
            </div>
            <!-- INICIO MODAL-FADE -->
            <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100">Novo Treino</h4>
                            <button type="button" class="btn btn-outline-success5" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span> <!-- BOTÃO DE FECHAR -->
                            </button>
                        </div>
                        <div class="modal-body mx-3">
                            <div class="md-form mb-0 form-group">
                                <label data-error="wrong" data-success="right"
                                    for="defaultForm-linkvideo">Título:</label>
                                <input id="defaultForm-desc" class="form-control validate"
                                    placeholder="Titulo do treino"></input>
                                <label data-error="wrong" data-success="right" for="defaultForm-desc"></label>
                            </div>
                            <div class="md-form mb-4 form-group">

                                <label data-error="wrong" data-success="right" for="defaultForm-linkvideo">Link do
                                    Vídeo:</label>
                                <input type="text" id="defaultForm-linkvideo" class="form-control validate"
                                    placeholder="Adicione o link do vídeo">
                            </div>

                            <div class="md-form mb-3 form-group">
                                <label data-error="wrong" data-success="right"
                                    for="defaultForm-linkvideo">Upload:</label>
                                <input type="file" name="upload" accept="application/pdf" id="defaultForm-file"
                                    class="form-control validate">
                                <small>Adicione um arquivo em formato PDF.</small>
                                <label data-error="wrong" data-success="right" for="defaultForm-file"></label>
                            </div>

                            <div class="md-form mb-0 form-group">
                                <label data-error="wrong" data-success="right"
                                    for="defaultForm-linkvideo">Descrição:</label>
                                <textarea id="defaultForm-desc" class="form-control validate"
                                    placeholder="Descrição do treino"></textarea>
                                <label data-error="wrong" data-success="right" for="defaultForm-desc"></label>
                            </div>
                        </div>

                        <div class="modal-footer d-flex justify-content-center form-group">
                            <button class="btn btn-outline-success2">Enviar</button>
                            <button type="button" class="btn btn-outline-success2" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIM MODAL-FADE -->
            <div class="container"></div>
            <div class="row">
                <!-- INÍCIO AGENDA -->

                <div class="containerAgenda">
                    <div class="col-lg-11" id="Radios">

                        <div class="border border-secondary-2 rounded bg-box">
                            <div>
                                <div class=" d-flex justify-content-center">
                                    <h3 class="subtitulo2 mb-4">Agenda</h3>
                                </div>
                            </div>
                            <div class="linha mb-0"></div>
                            <ul class="list-group list-group-horizontal lista-agenda mb-0">
                                <li class="list-group-item listagem-agendamento b-0">
                                <li class="list-group-item text-center agenda-nome">Nome do Aluno</li>
                                <li class="list-group-item text-center agenda-horario">Horário</li>

                                <li class="list-group-item text-center agenda-telefone">Telefone</li>
                                <li class="list-group-item text-center agenda-mensagem">Mensagem</li>
                                <li class="list-group-item text-center agenda-novo-treino">Novo Treino</li>
                                </li>
                            </ul>
                            <div>
                                <div class="linha mb-3"></div>

                                <ul class="list-group list-group-horizontal lista-agenda mb-0">
                                    <li class="list-group-item listagem-agendamento b-0">
                                    <li class="list-group-item text-center listagem-agenda-nome">
                                        <spam>José de Almeida</spam>
                                    </li>
                                    <li class="list-group-item text-center listagem-agenda-horario">15/04/2021 - 17:30
                                    </li>
                                    <li class="list-group-item text-center listagem-agenda-telefone">4002-8922 <i
                                            class="bi bi-chat-dots"></i></li>
                                    <li class="list-group-item text-center listagem-agenda-mensagem">Preciso exercitar
                                        minhas pernas</li>
                                    <li class="list-group-item text-center listagem-agenda-novo-treino"><a href="#"
                                            class=" text-white" data-toggle="modal" data-target="#modalLoginForm">
                                            <i class="bi bi-cloud-upload"></i></a>
                                    </li>

                                </ul>
                                <div class="linha mb-3"></div>
                            </div>
                            <div>
                                <div class="linha mb-3"></div>
                                <ul class="list-group list-group-horizontal lista-agenda mb-0">
                                    <li class="list-group-item listagem-agendamento b-0">
                                    <li class="list-group-item text-center listagem-agenda-nome">
                                        <spam>Maria da Conceição</spam>
                                    </li>
                                    <li class="list-group-item text-center listagem-agenda-horario">16/04/2021 - 13:30
                                    </li>
                                    <li class="list-group-item text-center listagem-agenda-telefone">4002-8922 <i
                                            class="bi bi-chat-dots"></i></li>
                                    <li class="list-group-item text-center listagem-agenda-mensagem">Dor na coluna, preciso mudar de treino</li>
                                    <li class="list-group-item text-center listagem-agenda-novo-treino"><a href="#"
                                            class=" text-white" data-toggle="modal" data-target="#modalLoginForm">
                                            <i class="bi bi-cloud-upload"></i></a>
                                    </li>

                                </ul>
                                <div class="linha mb-3"></div>
                            </div>

                        </div>
                    </div>
                    <div id="calendario text-center" class="mt-2">
                        <button class="btn btn-outline-success2" data-toggle="modal" data-target="#modalAgendamento">
                            Novo horário
                        </button>
                    </div>
                </div> <!-- FIM AGENDA --> 
            </div>          
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>