main {
    display: flex;
}

.aulas{
    margin-top: 30px;
    margin-left: -70px;
}
.tamanho-card-detalhamento{
    width: 75%;

}
.bg-card-detalhamento{
    background-color: #D9B777;
}
video {
    width: 75%;
    min-width: 300px;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #D9B777;
}
.tamanho-img{
    margin-left: 5%;
    width: 5%;
}
.bg-card{
    background-color:#353440 ;
    color: white;

}
.margem-box2{
    margin-top: 2%;
    margin: auto auto;
}
