body {
	min-height: 100vh;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background: #011126;
	width: 100%;
	height: 30px;
}

.logo {
	width: 30px;
	height: 30px;
}

.titulo {
	font-family: 'Kiwi Maru', serif;
	color: white;
	margin-top: -1px;
}

body:after {
	background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
		url(/images/tranning.jpg);
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
	opacity: 0.;
	background-position: center;
	background-size: cover;
}

/*------------------------------- INICIO BUTTONS ------------------------------------------ */
.btn-outline-success2 {
	text-align: center;
	color: #D9B777;
	border-color: #D9B777;
	width: 100px;
	margin-top: 15px;
}

.btn-outline-success2:hover {
	background: #D9B777;
	border-color: #D9B777;
}

.btn-outline-success3 {
	text-align: right;
	color: white;
	font-size: 18px;
	font-family: 'Mitr', sans-serif;
	margin-left: 30px;
	border-color: transparent;
}

.btn-outline-success3:hover {
	background: transparent;
	border-color: white;
	border: visible;
	text-decoration: none;
	color: #D9B777;
}

.btn-outline-success3:first-child {
	color: #D9B777;
	font-size: 22px;
}

.btn-outline-success3:last-child {
	margin-right: 10px;
	margin-left: 520px;
	font-size: 20px;
	border-color: white;
}

.btn-outline-success4 {
	color: white;
	font-size: 30px;
	font-family: 'Mitr', sans-serif;
	border-color: white;
}

.btn-outline-success4:hover {
	background: transparent;
	border-color: white;
	border: visible;
	text-decoration: none;
	color: #D9B777;
}

/*------------------------------- FINAL BUTTONS ------------------------------------------ */

/*------------------------------- INICIO CONTEUDO ------------------------------------------ */
.content {
	padding-top: 190px;
	text-align: center;
}

.content span {
	font-size: 50px;
	color: white;
	font-family: arial black;
}

.content p {
	font-size: 24px;
	color: #D9B777;
	font-family: 'Mitr', sans-serif;
}

/*------------------------------- FINAL CONTEUDO ------------------------------------------ */