.Forms {
	margin-top: 60px;
	align-items: center;
}

#formDados {
	max-width: 500px;
	margin: 0 auto;
	background-color: #353440;
	border-radius: 5px;
	margin-top: 200px;
}

#noCad {
	font-family: 'Mitr', sans-serif;
	color: white;
}

#noCad a {
	font-family: 'Mitr', sans-serif;
	color: #D9B777;
}

.form-group label {
	color: white;
	margin-right: 3px;
}

.subtitulo {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #D9B777;
	text-align: center;
	width: 300px;
	margin-left: 90px;
	margin-top: -24px;
	font-size: 23px;
	border-radius: 10px;
	margin-bottom: 40px;
}