html {
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/images/dashboardBG6.jpg) no-repeat center center fixed;
  	background-size: cover;
  	
}

/*------------------------------- INICIO BASE ------------------------------------------ */
body {
	background: transparent;
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.margem {
	margin-top: 30px;
}
.margem-cads-pagamento{
	width: 17rem; 
	height: 15rem; 
	margin-left: 4%; 
	margin-bottom: 2%
}

.tamanho-card-pagamento {
	width: 1000px;
	height: auto;
}

.bg-card-pagamento {
	background-color: #D9B777;
}


.tamanho-img {
	margin-left: 5%;
	width: 5%;
}

.bg-card {
	background-color: #353440;
	color: white;
}

.margem-box2 {
	margin-top: 2%;
	margin: auto auto;
}

.subtitulo2 {
	margin-top: -2.5%;
	padding: 12px;
	color: white;
	background-color: #D9B777;
	text-align: center;
	width: 300px;
	font-size: 23px;
	border-radius: 10px;
}


