/*------------------------------- INICIO BASE ------------------------------------------ */
body {
	background: #011126;
	min-height: 100vh;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background: #011126;
	width: 100%;
	height: 30px;
}

main {
	display: flex;
}

.logo {
	width: 30px;
	height: 30px;
}

.titulo {
	font-family: 'Kiwi Maru', serif;
	color: white;
	margin-top: -1px;
}
/*------------------------------- FINAL BASE ------------------------------------------ */

/*------------------------------- INICIO SIDEBAR ------------------------------------------ */
.sidebar {
	background: #353440;
	margin-top: 26px;
	padding-top: 30px;
	position: relative;
	left: 0;
	width: 200px;
	height: 137%;
	transition: 0.5s;
	transition-property: left;
	border-radius: 5px;
}

.sidebar a:hover {
	background: #D9B777;
}

.sidebar a {
	color: #fff;
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}

.sidebar i {
	padding-right: 10px;
}

label #sidebar_btn {
	z-index: 1;
	color: #fff;
	cursor: pointer;
	left: 200px;
	font-size: 20px;
	margin: -15px 0;
	margin-left: 20px;
	transition: 0.5s;
	transition-property: color;
}

label #sidebar_btn:hover {
	color: #D9B777;
}

#check:checked ~ .sidebar {
	left: -160px;
}

#check:checked ~ .sidebar a span {
	display: none;
}

#check:checked ~ .sidebar .dropdown {
	display: none;
}

#check:checked ~ .sidebar a {
	font-size: 20px;
	margin-left: 130px;
	width: 70px;
}

#check:checked ~ .sidebar strong {
	display: none;
}

#check:checked ~ .sidebar img {
	display: none;
}

#check:checked ~ .sidebar li {
	font-size: 10px;
	margin-left: -150px;
	width: 80px;
}

#check {
	display: none;
}

.sidebars {
	height: 511px;
}
/*------------------------------- FINAL SIDEBAR ------------------------------------------ */

/*------------------------------- INICIO DROPDOWN ------------------------------------------ */
.dropdown a {
	color: white;
	text-decoration: none;
}

.dropdown-menu {
	top: 140%;
	margin-left: 20px;
	text-align: center;
}

/*------------------------------- FINAL DROPDOWN ------------------------------------------ */

/*-------------------------------  INICIO CARDS ------------------------------------------ */
.container-do-card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	margin-top: 30px;
	height: 400px;
	background-color: #353440;
	border: 1px solid white;
}

.card-body {
	background-color: #353440;
}

.card-body h5 {
	color: #ffffff;
	text-align: center;
}

.card-body p {
	text-align: center;
	color: #D9B777;
}

.card-body a {
	color: #D9B777;
	border-color: #D9B777;
}

.card-footer {
	background-color: #353440;
	display: flex;
	justify-content: space-evenly;
}

.card-footer a {
	color: #D9B777;
	border-bottom: #D9B777;
}

.card-footer a button {
	width: 90%;
	background-color: #D9B777;
	color: #ffffff;
	border-bottom: #ffffff;
	text-align: center;
}

.form-group small {
	color: #D9B777;
}

/*------------------------------- FINAL CARDS ------------------------------------------ */

/*------------------------------- INICIO FORMS BOX------------------------------------------ */
.Forms {
	margin-top: 60px;
	justify-content: center;
}

#formDados {
	max-width: 600px;
	margin: 0 auto;
	background-color: #353440;
	border-radius: 5px;
	margin-bottom: 3px;
}

.form-group label {
	color: white;
	font-weight: 500;
	margin-right: 20px;
}

.senha input {
	margin-top: 15px;
}

#cBox {
	margin-top: -30px;
	color: white;
}

#noCad {
	color: white;
}

.subtitulo3 {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #D9B777;
	text-align: center;
	width: 300px;
	margin-left: 137px;
	margin-top: -24px;
	font-size: 23px;
	border-radius: 10px;
}

.subtitulo2 {
	margin-top: -2.5%;
	padding: 12px;
	color: white;
	background-color: #D9B777;
	text-align: center;
	width: 300px;
	font-size: 23px;
	border-radius: 10px;
}

.senha {
	margin-top: 30px;
}

.bgSenha {
	min-width: 100px;
	max-width: 300px;
	margin-left: 40%;
	margin-right: 40%;
	background-color: #353440;
	border-radius: 5px;
}

/*------------------------------- FINAL FORMS BOX ------------------------------------------ */

/*------------------------------- INICIO BOTTONS ------------------------------------------ */
.btn-default {
	margin-top: 4px;
}

.btn-outline-success2 {
	text-align: right;
	color: #D9B777;
	border-color: #D9B777;
}

.btn-outline-success2:hover {
	background: #D9B777;
	border-color: #D9B777;
}

.btn-outline-success5 {
	text-align: center;
	color: white;
	border-color: white;
	width: 50px;
	background: #353440;
}

.btn-outline-success5:hover {
	background: #D9B777;
	border-color: #D9B777;
}

.btn-outline-success8 {
	text-align: right;
	color: white;
	background-color: #D9B777;
	border-color: #d9b777;
}

.btn-outline-success8:hover {
	background: #d9b777;
	border-color: #D9B777;
	color: white;
}

.btn-outline-success9 {
	text-align: right;
	color: #ffffff;
	border-color: #00b300;
}

.btn-outline-success9:hover {
	background: #9b9b9b;
	border-color: #fffffe;
}

/*------------------------------- FINAL BOTTONS ------------------------------------------ */