html {
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/images/dashboardBG3.jpg) no-repeat center center fixed;
  	background-size: cover;
  	
}

/*------------------------------- INICIO BASE ------------------------------------------ */
body {
	background: transparent;
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.aulas {
	margin-top: 30px;
}

.tamanho-card-detalhamento {
	width: 75%;
	height: auto;
}

.bg-card-detalhamento {
	background-color: #D9B777;
}

videoFrame {
	width: 75%;
	min-width: 500px;
	height: auto;
	border-style: solid;
	border-width: 3px;
	border-color: #ffffff;
	border-radius: 5px;
}

.tamanho-img {
	margin-left: 5%;
	width: 5%;
}

.bg-card {
	background-color: #353440;
	color: white;
}

.margem-box2 {
	margin-top: 2%;
	margin: auto auto;
}

.subtitulo2 {
	margin-top: -2.5%;
	padding: 12px;
	color: white;
	background-color: #D9B777;
	text-align: center;
	width: 300px;
	font-size: 23px;
	border-radius: 10px;
}

.descricao {
	font-size: 20px;
	font-weight: 500;
	font-family: 'Mitr', sans-serif;
	color: #D9B777;
	text-align: justify;
}

.texto-card {
	width: 500px;
	text-align: justify;
}

.textDownload{
	text-decoration: none;
	color: #D9B777;
}