<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Cadastro</title>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/cadastro.css}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    </head>

    <body>
        <!-- NAVBAR -->
        <header th:replace="~{base :: headerHome}"></header>
        <!-- FIM NAVBAR -->

        <!-- Início do Formulário -->
        <div class="container Forms">
            <form id="formDados" name="formDados" th:action="@{/recovery}" method="post" th:object="${usuario}">
                <div class="border border-secondary-3 rounded mt-1">
                    <div class="container text-center">
                        <h3 class="subtitulo">Cadastro</h3>
                        <div class="form-group">
                            <div class="form-group row mt-2 mb-2">
                                <div class="col-8">
                                    <label class="col-form-label" for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" placeholder="Insira o email" name="email" th:field="*{email}" th:errorClass="is-invalid"/>
                                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="form-group row mt-2 mb-2">
                                <div class="col-8">
                                    <label class="col-form-label" for="tel">Token:</label>
                                    <input type="tel" class="form-control" id="tel" placeholder="Insira o Token" name="tel" th:field="*{token}" th:errorClass="is-invalid"/>
                                    <div th:if="${#fields.hasErrors('token')}" th:errors="*{token}" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="form-group row mt-2 mb-2">
                                <div class="col-8">
                                    <label class="col-form-label" for="senha">Senha:</label>
                                    <input type="password" class="form-control" id="senha" placeholder="Insira a nova senha" name="senha" th:field="*{senha}" th:errorClass="is-invalid"/>
                                    <div th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="form-group row mt-2 mb-2">
                                <div class="col-8">
                                    <label class="col-form-label" for="cSenha">Conf. Senha:</label>
                                    <input type="password" class="form-control" id="cSenha" th:field="*{csenha}" th:errorClass="is-invalid" placeholder="Confirme a nova senha"/>
                                    <div th:if="${#fields.hasErrors('csenha')}" th:errors="*{csenha}" class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <a><button type="submit" class="btn btn-outline-success2 mb-4">Confirmar</button> </a>
                    </div>
                </div>
            </form>
            <!-- Final do Formulário -->
    	</div>
    </body>
</html>