<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../../../../Downloads/Junque1r4-front-end-d0f04c7d2155/assets/treinos.css">
    <link rel="stylesheet" href="../../../../../../Downloads/Junque1r4-front-end-d0f04c7d2155/assets/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>

    <!-- NAVBAR -->
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">

                <a class="navbar-brand titulo" href="home.html">
                    <img src="https://seeklogo.com/images/U/uol-logo-68F369E089-seeklogo.com.png"
                        class="d-inline-block align-text-top logo">
                    <span>Compasso</span>
                    <label for="check">
                        <i class="fas fa-bars" id="sidebar_btn"></i>
                    </label>
                </a>

                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://a-static.mlcdn.com.br/618x463/kit-6-galhos-de-rosas-aveludadas-decora-flores-artificiais/decorafloresartificiais/6639562408/cac5c2c84ea135796a9be967d812bdda.jpg"
                            alt="mdo" class="rounded-circle me-2" width="32" height="32">
                        <strong>Perfil</strong>
                    </a>
                    <ul class="float-right dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="minha_conta.html"><span>Editar Perfil</span></a></li>
                        <li><a class="dropdown-item" href="#"><span>Configurações</span></a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#"><span>Logout</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- FIM NAVBAR -->

    <main>
        <input type="checkbox" id="check">

        <!-- SIDEBAR -->
        <div class="sidebar">
            <a href="home.html" class="nav-link text-white"><i class="bi bi-house"></i><span>Home</span></a>
            <a href="#" class="nav-link text-white"><i class="bi bi-graph-up"></i><span>Dashboard</span> </a>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-calendar2-plus"></i>
                <span>Agendamento</span>
            </a>

            <a href="#" class="nav-link text-white">
                <i class="bi bi-collection-play"></i>
                <span>Videos</span>
            </a>

            <a href="#" class="nav-link text-white">
                <i class="bi bi-credit-card"></i>
                <span>Pagamento</span>
            </a>
        </div> <!-- FIM SIDEBAR -->

        <div class="container container-do-card">
            <div class="card" style="width: 18rem;">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/d67atiJUuew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">Treino de Pernas</h5>
                    <p class="card-text">Hoje é dia de treino de pernas! Faremos a seguinte sequência de exercícios...</p>
                </div>
                <div class="card-footer">
                    <a href="#">
                        <button type="submit" class="btn">
                            Aula completa
                        </button>
                    </a>
                    <a href="#">
                        <button type="submit" class="btn">
                            Download do PDF
                        </button>
                    </a>
                    <!-- <a href="#" class="card-link">Download do PDF</a> -->
                </div>
            </div>
            
        </div>

    </main>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
        </script>
</body>

</html>