.Forms{
    margin-top: 60px;
    align-items: center;
    width: 400px;
  }
  
  #formDados{
    max-width: 500px;
    margin: 0 auto;
    background-color: #353440;
    border-radius: 5px;
    margin-top: 100px;
  }

  .form-group{
    margin-left: 20px;
  }
  .form-group label{
    color: white;
    display: flex;
  }
  .form-group input{
    color: white;
    width: 250px;
  }

  .btn-outline-success2{
    text-align: center;
    color: #D9B777;
    border-color: #D9B777;
    width: 100px;
    margin-top: 15px;
  }
  
  .btn-outline-success2:hover{
    background: #D9B777;
    border-color: #D9B777;
  }

  .subtitulo {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #D9B777;
    text-align: center;
    width: 300px;
    margin-left: 30px;
    margin-top: -24px;
    font-size: 23px;
    border-radius: 10px;
    margin-bottom: 40px;
  }

  #noCad{
    font-family: 'Mitr', sans-serif;
    color: white;
  }

  #noCad a{
    font-family: 'Mitr', sans-serif;
    color: #D9B777;
  }