/*------------------------------- Editar Cadastro ------------------------------------------ */
.Forms{
    margin-top: 60px;
  }
  
  #formDados{
    max-width: 600px;
    margin: 0 auto;
    background-color: #353440;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  #formSenha{
    max-width: 600px;
    margin: 0 auto;
    background-color: #353440;
    border-radius: 5px;
    margin-top: 40px;
    height:auto;
  }
  
  .form-group label{
    color: white;
    font-weight: 500;
    margin-right: 20px;
  }
  
  .senha input{
    margin-top: 15px;
  }
  
  #cBox{
    margin-top: -30px;
    color: white;
  }
  
  #noCad{
    color: white;
  }
  
  .btn-default{
    margin-top: 4px;
  }
  
  .subtitulo {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #D9B777;
    text-align: center;
    width: 300px;
    margin-left: 137px;
    margin-top: -24px;
    font-size: 23px;
    border-radius: 10px;
  }
  
  .btn-outline-success2{
    text-align: right;
    color: #D9B777;
    border-color: #D9B777;
  }
  
  .btn-outline-success2:hover{
    background: #D9B777;
    border-color: #D9B777;
  }
  
  .senha{
    margin-top: 30px;
  }
  
  /*------------------------------- Final Editar Cadastro ------------------------------------------ */